* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    top: 0;
    position: sticky;
    background-color: rgb(16, 80, 165);
    margin: 10px;
}

.movie {
    align-self: center;
    background-color: rgb(245, 246, 250);
}

h1 {
    padding: 20px 20px;
}

#search {
    padding: 5px;
    height: 50px;
    width: 350px;
}

.btn {
    padding: 5px 15px;
    color: rgb(0, 0, 0);
    margin-left: -90px;
    transition: all 100ms ease-in;
    /* background-color: rgb(102, 100, 223); */
}

.error {
    width: auto;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.movie-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.director {
    padding: 5px 10px 0 10px;
    border-radius: 0 10px;
}

.mpaaRating {
    padding: 5px 10px 0 10px;
    border-radius: 10px 0;
}

.score {
    padding: 5px 10px 0 10px;
}

.actor {
    padding: 5px 10px 0 10px;
}

.search-contaner {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
}

@media only screen and (min-width: 284px) and (max-width: 638px) {
    .search-contaner {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-bottom: 10px;
    }
}